.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 5px;
    height: auto;
    display: flex;
    margin: 0;
}

